.wrapper{
    background-color: white;
    display: grid;
    grid-template-columns: 3 / 1fr;
    grid-gap: 2rem;
}
.wrapper > *{
    text-transform: capitalize;
    background: black;
    color: white;
    padding: 1rem;
}
header, footer{
    grid-column: 1 / span 3;
}
main {
    grid-column: 1 / span 2;
  }